<%- include('partials/header') -%>
<h1 class="page-title">Register</h1>
<form class="form flex">
  <a href="/users/register/admin" class="btn">Register as Admin</a>
  <a href="/users/register/user" class="btn">Register as User</a>
</form>
